@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  color: black;
  line-height: 1.6;
  height: 100vh;
  perspective: 1000px;
}

img {
  width: 100%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
