@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  color: black;
  line-height: 1.6;
  height: 100vh;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

img {
  width: 100%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  position: relative;
  width: 50%;
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  min-height: 70vh;
  width: 40rem;
  -webkit-box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4), 0 0 50px rgba(0, 0, 0, 0.3);
          box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4), 0 0 50px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  padding: 0 5rem;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.shoe {
  min-height: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shoe img {
  z-index: 2;
  width: 20rem;
  -webkit-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}

.circle {
  width: 15rem;
  height: 15rem;
  background: linear-gradient(53deg, #c2b60f 35%, #231d1d 81%);
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

.info h1 {
  font-size: 3rem;
  -webkit-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}

.info h3 {
  font-size: 1.5rem;
  padding: 2rem 0;
  color: gray;
  font-weight: 300;
  -webkit-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}

.sizes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}

.sizes button {
  padding: 1rem 2rem;
  background: none;
  border: none;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  color: gray;
}

.sizes button.active {
  background-color: gray;
  color: white;
}

.purshase {
  margin-top: 5rem;
}

.purshase button {
  width: 100%;
  padding: 1rem 0;
  background: #c2b60f;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  border: none;
  -webkit-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out;
}
